.receita__botao {
   background-color: #20B2AA;
   border: none;
   border-radius: 5px; 
   color:#fdfdfd;
   padding: 1rem;
   transition: all .1s ease-in-out;

}

.receita__botao:hover {
    background-color: #008080; 
    cursor: pointer;
    font-size: +20px;
}